body {
  font-family: "Roboto", sans-serif;
  background: #ffebeb;
}

footer {
  text-align: center;
  margin-bottom: 10px;
  margin-top: -30px;
  font-weight: 300;
}

li {
  list-style: none;
}

.city-name {
  font-size: 45px;
}

.temperature {
  font-size: 35px;
  line-height: 15px;
}

.city-name,
.temperature,
.date-time,
.weather-description,
.search-bar {
  font-weight: 300;
}

.forecast {
  font-weight: 200;
}

.specifics {
  font-weight: 200;
  text-align: center;
}

.day {
  font-weight: 300;
}
.weather-app {
  padding: 30px;
  background: #fff;
  margin: 50px;
  border-radius: 10px;
  max-width: 900px;
}

.search-bar {
  border-radius: 6px;
  background: #ffebeb;
}

.form-control {
  width: fit-content;
}

.btn {
  background: #ff8585;
  text-align: center;
  color: #fff;
  border-color: #ff8585;
  border-radius: 6px;
  transition: 200ms ease-in-out;
  box-shadow: none;
  cursor: pointer;
}

.btn:hover {
  color: #ff8585;
  background: #fff;
  border-color: #ff8585;
}

.card {
  display: block;
  margin: 0 auto;
}

.day-button {
  display: block;
  margin: 0 auto;
}

.weather-details {
  text-align: right;
  padding-top: 20px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -12px;
}

.animated-weather-icon {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  height: auto;
}

.detailed-weather {
  padding: 30px 30px 10px 30px;
}

.weather-icon {
  font-size: 30px;
}

.location-search-button {
  display: inline inline-block;
}

.fa-brands,
.fa-github {
  font-size: 25px;
  color: #ff8585;
}
