body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #ffebeb;
}

footer {
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.weather-app {
  padding: 30px;
  background: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 900px;
}

.search-bar {
  border-radius: 6px;
  background: #ffebeb;
}

.form-control {
  width: fit-content;
}

.btn {
  background: #ffebeb;
  text-align: center;
  color: #fff;
  border-color: #ffebeb;
  border-radius: 6px;
  transition: 200ms ease-in-out;
  box-shadow: none;
  cursor: pointer;
}

.btn:hover {
  color: #ffebeb;
  background: #fff;
  border-color: #ffebeb;
}

.card {
  display: block;
  margin: 0 auto;
}

.day-button {
  display: block;
  margin: 0 auto;
}
.weather-details {
  text-align: right;
}

.units {
  position: relative;
  font-size: 16px;
  top: -12px;
}

.animated-weather-icon {
  width: 350px;
}

.detailed-weather {
  padding: 30px;
}

.weather-icon {
  font-size: 30px;
}

.location-search-button {
  display: inline inline-block;
}

.fa-brands,
fa-github {
  font-size: 25px;
  color: #0d2534;
}
